
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap');
body{
    background-color: blue;
    color: black;
    font-family: 'Oswald', sans-serif;
}

.navbar {
    background: teal;
    width: 960px;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: auto;
    border: 2px solid black;
    
    
}
.btn  {
    width: 100px;
    border: black 2px solid;
    background-color: green;
    color: white;
    padding: 2px;
    margin: 10px;

}

.btn :hover {
    background-color: brown;
    color: white;
}

#results {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 20px;
    width: 400px;
    padding: 20px;
    border: black 2px solid;
    
}

.container {

    margin: 20px auto;
    width: 960px;
    justify-content: center;
    height: 400px;
    padding: 20px;
    /* display: flex;
    justify-content: center; */
    background-color: lightgray;
    border: 2px solid black;


}

#numsofcharacters,
#uppercase,
#lowercase,
#numbers,
#symbols {

    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;  

}

#numsofcharacters {

    border: black solid 1px;

}



#text {

    font-weight: 15px bold;
   
    
}







.result-container #result {
    word-wrap: break-word;
  max-width: calc(100% - 40px);
}

.setting {
    padding: 20px;
    position: absolute;
    
    
    

}

